.APL
{
  font-family: "SImPL", "SImPL medium", "APL385 Unicode", "APLX Upright", monospace;
}

code
{
  font-family: "SImPL", "SImPL medium", "APL385 Unicode", "APLX Upright", monospace;
}

.ttfRight
{
  padding-right: 12px;
  background: url(/art/ttf.gif) center right no-repeat;
}
