//***************************************************************************
//	NARS2000 -- Includable Edit Menu Items
//***************************************************************************

/***************************************************************************
	NARS2000 -- An Experimental APL Interpreter
	Copyright (C) 2006-2008 Sudley Place Software

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
***************************************************************************/

		MENUITEM "&Undo\tCtrl-Z",               IDM_UNDO
		MENUITEM "&Redo\tCtrl-Y",               IDM_REDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl-X",                IDM_CUT
		MENUITEM "&Copy\tCtrl-C",               IDM_COPY
		MENUITEM "&Paste\tCtrl-V",              IDM_PASTE
		POPUP "Paste AP&L"
		BEGIN
			MENUITEM "Paste APL+&WIN",          IDM_PASTE_APLWIN
			MENUITEM "Paste APL&2",             IDM_PASTE_APL2
			MENUITEM "Paste &ISO",              IDM_PASTE_ISO
			MENUITEM "Paste &PC3270"            IDM_PASTE_PC3270
		END
		MENUITEM "&Delete",                     IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Select &All\tCtrl-A",         IDM_SELECTALL
		MENUITEM SEPARATOR
#ifdef DEBUG
		MENUITEM "&Customize...",               IDM_CUSTOMIZE
#else
		MENUITEM "&Customize...",               IDM_CUSTOMIZE   , INACTIVE GRAYED
#endif


//***************************************************************************
//	End of File: edit.rc
//***************************************************************************
